# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BettingGame.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\lorib\GH\CSharp\BettingGame\.idea\.idea.BettingGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
