# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.WeaponDamage.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\lorib\GH\CSharp\WeaponDamage\.idea\.idea.WeaponDamage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
