# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AbilityScoreCalc.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\lorib\GH\CSharp\AbilityScoreCalc\.idea\.idea.AbilityScoreCalc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
