# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.MyFirstConsoleApp.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\lorib\GH\CSharp\MyFirstConsoleApp\.idea\.idea.MyFirstConsoleApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
