# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ArrowDamage.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\lorib\GH\CSharp\ArrowDamage\.idea\.idea.ArrowDamage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
