# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Abracadabra.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\lorib\GH\CSharp\Abracadabra\.idea\.idea.Abracadabra\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
