# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.HiLoGame.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\lorib\GH\CSharp\HiLoGame\.idea\.idea.HiLoGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
